body,
html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.page {
  background: #2d2d2d;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-style: italic;
  color: white;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  padding: 5px;
  border-radius: 15px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

button {
  background: #4fbac7;
  color: #2d2d2d;
  border: none;
  padding: 4px 8px;
  text-transform: uppercase;
  cursor: pointer;
  outline: inherit;
}

button:hover {
  opacity: 0.8;
}

.imageModal {
  height: 10px;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
}
